name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Run Python unit tests
      run: python3 -u -m unittest tests/tests.py

    - name: Build the Docker image
      run: docker build . --file Dockerfile

    - name: Integration test
      id: integration
      uses: ./
      with:
        path-to-root: tests/testdata

    - name: Integration test
      id: integration2
      uses: ./
      with:
        path-to-root: tests/testdatacanon
        base-url-path: https://TESTING.1.2.3/

    - name: Integration test
      id: integration3
      uses: ./
      with:
        path-to-root: tests/testdatablock
        user-defined-block: |
          <link rel="icon" href="/images/favicon.svg" sizes="any" type="image/svg+xml">
          <link rel="icon" href="/images/favicon.png" type="image/png">

    - name: Verify integration test results
      run: python3 -u -m unittest tests/integration.py
